@font-face {
	font-family: 'montserratbold';
	src: url('../fonts/Montserrat-Bold.eot');
	src: url('../fonts/Montserrat-Bold-.eot#iefix') format('embedded-opentype'),  url('../fonts/Montserrat-Bold.woff') format('woff'),  url('../fonts/Montserrat-Bold.ttf') format('truetype'),  url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'montserratregular';
	src: url('../fonts/Montserrat-Regular.eot');
	src: url('../fonts/Montserrat-Regular-.eot#iefix') format('embedded-opentype'),  url('../fonts/Montserrat-Regular.woff') format('woff'),  url('../fonts/Montserrat-Regular.ttf') format('truetype'),  url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'montserratmedium';
	src: url('../fonts/Montserrat-Medium.eot');
	src: url('../fonts/Montserrat-Medium-.eot#iefix') format('embedded-opentype'),  url('../fonts/Montserrat-Medium.woff') format('woff'),  url('../fonts/Montserrat-Medium.ttf') format('truetype'),  url('../fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'montserratlight';
	src: url('../fonts/Montserrat-Light.eot');
	src: url('../fonts/Montserrat-Light-.eot#iefix') format('embedded-opentype'),  url('../fonts/Montserrat-Light.woff') format('woff'),  url('../fonts/Montserrat-Light.ttf') format('truetype'),  url('../fonts/Montserrat-Light.svg#Montserrat-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}
body, html{
	height:100%;
	box-sizing: content-box;
	overflow-X:hidden;
}
h1{font-family:montserratlight;font-size:36px;text-align:center;text-transform: uppercase;margin:0;}
h2{font-family:montserratbold;font-size:24px;text-transform: uppercase;margin:0;}
h3{font-family:montserratlight;font-size:14px;}
hr{width:10%;margin:30px auto 0;}


header{
	background-image:url("../img/head-tablet.png");
	background-color:#f2f2f2;
	min-height:100%;
	background-attachment: fixed;
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size:80%;
}

header .logo{display: block;margin:0 auto;padding:50px 0;}
header h1{font-size:25px;color:#2a2e39;}
#demo{
	background-image:url("../img/bg-demo.jpg");
	min-height:710px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;
	color:#fff;
	text-align: center;
}
#demo h1{padding-top:220px;}
#demo .btndemo{border:1px solid #fff;padding:10px 20px;text-transform: uppercase;font-family: montserratregular;}
#demo .btndemo a{color:#fff;text-decoration: none;}
#demo .btndemo:hover{background-color: rgba(255, 255, 255, 0.3);}

#demo2{
	float:left;
	background-image:url("../img/bg-demo2.jpg");
	width:100%;
	min-height:710px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;
	color:#fff;
	text-align: center;
}
#demo2 .btndemo{background-color:#2dcc70;padding:10px 20px;text-transform: uppercase;font-family: montserratregular;}
#demo2 .btndemo a{color:#fff;text-decoration: none;}
#demo2 .btndemo:hover{background-color:#2fec7f;}
#demo2 h1{padding-top:200px;}
#demo2 h3{margin: 20px 20% 60px;}


#metier{float:left;background-color:#3c4251;color:#fff;}
#metier div{float: left;width:50%;margin: 100px 0;padding:0 10%;box-sizing: border-box;text-align: center}
#metier h3{color:#cccccc;line-height: 22px;}

#solution{clear:both;float: left; background-color: #f2f2f2;}
#solution div{float: left;box-sizing: border-box;width:50%;margin: 10% 0 0;padding:0 10%;text-align: left}
#solution div.columnB{float:right;}
#solution h1, #solution h2, #solution hr, #spssolutions h1, #spssolutions hr{color:#2a2e39;}
#solution h1{padding-top:80px;}
#solution h3{margin-top:50px;color:#666666;}
#solution img{width: 50%;height: 50%;float: left;margin-top:50px;}
#solution .imgA{position: relative;right:-50px;}
#solution .imgB{position: relative;left:-50px;}
#solution .break{float: left;width: 100%;}

#temoignage{
	background-color: #3c4251;
	float:left;
	color:#fff;
	background-image:url("../img/bg-quote.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 10% 40%;
}
#temoignage h1{padding-top:80px;}
#temoignage .containtem{width: 80%;margin:0 auto;}
#temoignage .profil{border-radius:60px;border:6px solid #45c8dc;margin:50px 0 20px;}
#temoignage .name{font-size:20px;font-family:montserratbold;}
#temoignage .job{font-size:13px;font-family:montserratlight;}
#temoignage .bxslider li div{line-height: 30px;}

#spssolutions{float: left;}
#spssolutions h3{margin: 20px 20% 60px;text-align: center;color:#666666;}

footer{float:left;width:100%;color:#7b7b7d;}
footer a{color:#7b7b7d;}
footer ul {list-style-type:none;width: 50px; padding:0;margin:0 auto;}
footer ul li a {float:left;margin:0 10px;}
footer div{font-family:montserratlight;font-size:10px;text-align: center;margin:80px auto 30px;}

@media only screen and (max-width : 767px) {
	header{background-image:url("../img/head-mobil.png");}
	header .logo{padding:0 0 20px 0;}
	header h1{font-size:4vw;}
	#demo{min-height: 500px;}
	#demo2{min-height: 550px;}
	#demo h1{padding-top:140px;}
	#demo2 h1{padding-top:90px;font-size:6vw;}
	#metier div{width: 100%;margin:50px 0;}
	#metier .courtier{margin:0 0 50px;}
	#solution div{width: 100%;margin:30px 0 0;text-align: center;padding:0 5%}
	#solution h1{padding-top:40px;}
	#solution .break{border-bottom:1px solid #c1c1c1;}
	#solution img{width:80%;height:100%;margin-top:20px;padding:0 10%;}
	#solution .imgA{position: relative;right:0;}
	#solution .imgB{position: relative;left:0;}
	.bx-controls-direction{display:none;}
	#temoignage h1{padding-top:40px;}
	#demo2 h3, #spssolutions h3{margin:20px 5% 60px;}
	#temoignage .bx-viewport{padding:10px 0 50px;}
	#temoignage .bx-wrapper{margin:30px 0 80px;}
	#temoignage .bxslider{font-size:14px;}
	#temoignage .bxslider li div{line-height:normal;}
}
@media only screen and (min-width : 400px) and (max-width:767px) {
	header{min-height: 750px;}
}
.menu{overflow:hidden;background-color:#fff;}
.menu a{float:left;display:block;color:#2a2e39;text-align:center;padding:20px 2%;text-decoration: none;font-size:13px;font-family: montserratlight;text-transform: uppercase;}
.menu a:hover{background-color:#f2f2f2;}
.menu .icon{display:none;}
.menu .connect{float:right;}
.menualpha{width:450px;margin:0 auto;}

@media only screen and (max-width:767px){
	.menu{background-color:#f2f2f2;}
	.menualpha{width: 100%;}
	.menu a{display:none;}
	.menu a:nth-child(6){padding-top:50px;}
	.menu a.icon{float:right;display:block;}
}
@media only screen and (max-width:767px){
	.menu.responsive{position:relative;}
	.menu.responsive .icon{position:absolute;right:0;top:0;}
	.menu.responsive a{float:none;display:block;text-align:left;background-color:#3c4251;color:#fff;font-size:16px;}
	.menu.responsive a:hover{background-color:#444a59;}
}
@media only screen and (max-height:800px) and (min-width:600px) and (orientation:landscape){
	header{background-size:50%;}
}